//Модальное окно
#popup.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.
	form
		p.modal-title
			| Хочу принять участие в онлайн-курсе
			span  «От старта до первого клиента»
			|  Позвоните мне!
		div
			.input_wrap
				i.fa.fa-check
				input(name="name" type="text" placeholder="Введите ваше имя")
			.input_wrap
				i.fa.fa-check
				input(name="email" type="email" placeholder="Введите ваш e-mail")
			.input_wrap
				i.fa.fa-check
				input(name="phone_mask" type="text" class="mask" placeholder="+38(___) ___-__-__")
		input(type="hidden" name="form_name" value="")
		input(type="hidden" name="form_type" value="modal")
		input(type="submit" value="Записаться на курс")
.overlay
//Модальное окно 2
#popup2.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.
	form
		p.modal-title
			| Страница находится в разработке. Сообщите мне, когда она
			| начнет работать!
		div
			.input_wrap
				i.fa.fa-check
				input(name="name" type="text" placeholder="Введите ваше имя")
			.input_wrap
				i.fa.fa-check
				input(name="email" type="email" placeholder="Введите ваш e-mail")
			.input_wrap
				i.fa.fa-check
				input(name="phone_mask" type="text" class="mask" placeholder="+38(___) ___-__-__")
		input(type="hidden" name="form_name" value="")
		input(type="hidden" name="form_type" value="modal")
		input(type="submit" value="Отправить запрос")
.overlay
// Модальное окно success
#popup-success.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Заявка отправлена
// Модальное окно для уходящего клиента
#popup4.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.
	form
		p.modal-title
			| Уже уходите? Получите бонус от меня и пошаговую видео
			| инструкцию
			span  «Как запустить свой бизнес с нуля»
			|  на свою почту в течение 5 минут.
		div
			.input_wrap
				i.fa.fa-check
				input(name="email" type="email" placeholder="Введите ваш e-mail")
		input(type="hidden" name="form_name" value="")
		input(type="hidden" name="form_type" value="modal")
		input(type="submit" value="Отправить")
.overlay
// вариант меню на мобильном
#popup3.mfp-hide.white-popup.mfp-with-anim.popup
	nav.header_nav_mobile
		ul
			li
				a(href='#') Примеры кухонь
			li
				a(href='#') Преимущества
			li
				a(href='#') Отзывы
			li
				a(href='tel:73842596168') +7 3842 59 61 68
			li
				a(href='#') Примеры кухонь
			li
				a(href='#') Преимущества
			li
				a(href='#') Отзывы
			li
				a(href='#') Примеры кухонь
			li
				a(href='#') Преимущества


