extends ../base
block title
	| Blog page
block main
	section.top-section
		.container
			.row
				.top-section__title
					h1
						span Blog
					p для максимального удобства
				.top-section__bot-txt
					p.sticky Более
						span  400
						|   довольных клиентов за
						span  8 лет
						|  успешной работы!
